.lblClass {
  top: 0;
  padding-left: 90%;
}

#descriptionTextArea,
#commentsTextArea {
  resize: none;
}

.container #addDefectHeadLine {
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: #fff;
  background-color: #4285f4;
  margin-bottom: 2%;
}

addHeadCenter {
  font-size: 20px;
  text-align: center;
}

.butttonAlignRight {
  float: right;
}

.btn-clear {
  color: black;
}

#textAreaStyle {
  padding-left: 0.5rem;
}
